@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, Mars!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <h3>Hello World</h3>
    <h3>Welcome @Model.firstName</h3>

</div>
<script>
function connectToDB(){
    //TODO: conencto to db
    var id="admin";
    var password="somesecretpassword";
    var dbIpAddress="172.10.120.56"

}
</script>