@page
@model MyWebApp.Pages.Shared.ProfileModel
@{
}
<h2>Profile Page</h2>
<p>This is where all user profile will be shared</p>
<h3>Welcome @Model.firstName</h3>
<input type="text"  value=@Model.firstName />
<button >Click</button>